@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

body {
    min-height: 100vh;
    background-color: rgb(34, 34, 34);
    padding-top: 0;
    padding-left: 10px;
    color: #fff;
}

.web {
    position:relative;
    padding-top: 80px;
    padding-left: 210px;
    padding-right: 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    z-index: 500;
    top: 0;
    bottom: 0;
}

.hoverable {
    color: white;
    border: none;
}

.modules {
    position: relative;
    display: inline-block;
}

.items {
    display: none;
    position: absolute;
    background-color: #141414;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
}

.item {
    color: black;
    padding: 12px 16px;
    font-size: 10px;
    text-decoration: none;
    display: block;
}

.modules:hover .items {
    display: block;
    margin-top: 2px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #8bfb6f;
    transition: 0.3s;
}

.navbar a:hover:before {
    width: 100%;
}

.sidebar {
    z-index: 150;
    position:fixed;
    top: 65px;
    left: 0;
    width: 200px;
    height: calc(100% - 46px);
    padding-top: 0px;
    background: rgb(20,20,20);
}

.sidebar header {
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align:left;
}

.web .codeblock .language-lua {
    background-color: rgb(20,20,20);
    border-radius: 5px;
    font-weight: 500;
    position: relative;
}

.codeblock {
    border-radius: 8px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: "Poppins", sans-serif;
}

.link {
   color: #036bfc;
   text-decoration: underline;
}

.sidebar .side .subcat {
    font-size: 14px;
    color: rgb(255,255,255);
    margin-left: 10px;
    font-weight: 300;
}

.sidebar .side .ssubcat {
    font-size: 14px;
    color: rgb(255,255,255);
    margin-left: 20px;
    font-weight: 300;
}

.sidebar .side a {
    position:relative;
    font-size: 16px;
    top: 10px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.sidebar .side a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #a569ff;
    transition: 0.5s;
}

.sidebar .side a:hover:before {
    width: 100%;
}

.side {
    z-index: 100;
    top: 80px;
    bottom: 0;
    overflow:auto;
    margin-left: 10px;
    position: fixed;
}

.web .tag-limit {
    background-color: #00468c;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.web .tag-yields {
    background-color: #c28421;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.web .tag-deprecated {
    background-color: #8a1a1a;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.web .tag-wip {
    background-color: #a569ff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

hr {
    margin-top: 10px;
    border-top: 3px solid #fff;
    border-radius: 3px;
}

footer {
    color: #36393f;
    font-size: 14px;
    
    position: fixed;
}

.contactlist {
    margin-left: 32%;
    margin-top: 20%;
}

.linkimg {
    position: relative;
    margin-left: 5px;
    color: #fff;
    text-decoration: underline;
}

.version {
    background-color: #00468c;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}
.version-release {
    background-color: #247a0f;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}
.version-latest {
    background-color: #d4a303;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}
.version-alpha {
    background-color: #0372d4;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

.version-planned {
    background-color: #a569ff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

table {
    width: 100%;
    background-color: rgb(15, 15, 15);
    
    margin-top: 5px;
    border-radius: 8px;
}

th {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    background-color: rgb(20, 20, 20);
}

table .l {
    padding-left: 10px;
    
    background-color: rgb(20, 20, 20);
}

td {
    padding-left: 5px;
}

.web .contactlist .hovgt::before{
    content: 'Post a issue or suggestion on github!';
    clip-path:margin-box;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    margin-left: 40.5%;
    top: 71.3%;
    left: 0;
    width: 0%;
    height: 20px;
    background: #5873e2;
    transition: 1s;
}

.web .contactlist .hovgt:hover:before{
    width: 20%;
}

.web .contactlist .hovrbx::before{
    content: 'Send me a message on roblox!';
    clip-path:margin-box;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    margin-left: 40.5%;
    top: 71.3%;
    left: 0;
    width: 0;
    height: 20px;
    background: #5873e2;
    transition: 1s;
}

.web .contactlist .hovrbx:hover:before{
    width: 20%;
}

.web .contactlist .hovdis::before{
    content: 'Join discord! (Work in progress)';
    clip-path:margin-box;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    margin-left: 40.5%;
    top: 71.3%;
    left: 0;
    width: 0;
    height: 20px;
    background: #5873e2;
    transition: 1s;
}

.web .contactlist .hovdis:hover:before{
    width: 20%;
}

.notice {
    width: 35%;
    position: relative;
    border-style: solid;
    border-radius: 5px;
    border-color: #fc9003;
    color: #FFF;
    background-color: rgba(252, 144, 3, 30%);
}

.notice .headr {
    border-style: solid;
    border-color: #fc9003;
    font-weight: 200;
    padding-left: 10px;
}

.notice .body {
    padding-left: 10px;
}
